[user]
	name = indiedriver
	email = amathias63@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = cache --timeout=28800
[url "https://indiedriver@github.com"]
	insteadOf = https://github.com
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
